$bodyColor: #e5e5e5;
$headerGradientStart: #464341;
$headerGradientEnd: #010101;
$textColor: #141414;
$phoneNumberColor: white;

$scrollGradientStart: $headerGradientStart;
$scrollGradientEnd: $headerGradientEnd;
$footerColor: $textColor;
$footerTextColor: $phoneNumberColor;
